<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="Remove Server Variable">
                    <match serverVariable="RESPONSE_SERVER" pattern=".+" />
                    <action type="Rewrite" />
                </rule>
                <rule name="Remove X-POWERED-BY">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="home.html" />
            </files>
        </defaultDocument>
        <httpProtocol>
        	<customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Xss-Protection" value="1; mode=block" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Referrer-Policy" value="origin-when-cross-origin" />
        		<add name="Content-Security-Policy" value="default-src 'self'; object-src 'none'; font-src * data:;img-src * data:; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com https://maxcdn.bootstrapcdn.com http://code.jquery.com ; script-src 'unsafe-inline' 'self' https://cdnjs.cloudflare.com https://code.jquery.com https://maxcdn.bootstrapcdn.com https://*.google-analytics.com https://ajax.googleapis.com; frame-src 'self' https://*.google.com;" />
        	</customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
